h1.minombre{font-size: 19px;}
h2.minombre {font-size: 25px;}
.home .btn {font-size:17px}
.equipo h2, .col2 h2,.mentalidad h3, .emojis h2, .test h2 {font-size: 25px;}
.slider .quote {font-size: 15px}
.slider .source {font-size: 12px;}
.largy, .midy{font-size: 1.05em;}
.small {font-size:.7em}
