h1.minombre{font-size: 27px;}
h2.minombre {font-size: 24px;}
.home .btn {font-size:17px}
.equipo h2, .col2 h2,.mentalidad h3, .emojis h2, .test h2 {font-size: 24px;}
.slider .quote {font-size: 15px}
.slider .source {font-size: 12px;}
.largy, .midy{font-size: 1.05em;}
.mini {font-size:.82em}
